<div class="container">
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div *ngIf="!Lo.isUndefined(dataSourceQry)">
      <div *ngFor="let ds of dataSourceQry.dataSourceById" class="card mb-2">
        <div class="card-header">
          <h5>
            <span class="badge-pill badge-primary">id:{{ ds.id }}</span>
            <a [href]="'datasource/' + ds.id">{{ ds.title }}</a>
          </h5>
        </div>
        <div class="card-body">
          {{ descriptionPretty(ds.description) }}
        </div>
      </div>
    </div>
  </main>
</div>
