upstream gnindex-api {
    server index-api.globalnames.org;
}

server {
  listen 3000;

  root /opt/app/;

  location /api {
    expires off;
    add_header Cache-Control private;
    keepalive_timeout 0;
    proxy_pass http://gnindex-api/api/;
  }

  location / {
    server_name_in_redirect off;
    expires off;
    add_header Cache-Control private;
    keepalive_timeout 0;

    try_files $uri $uri/ /index.html;
  }
}
