<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Result JSON</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <pre><code>{{resultJsonString()}}</code></pre>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<div class="container-fluid">
  <div class="row" style="padding-bottom: 7em">
    <nav class="col-md-4 d-none d-md-block sidebar"
         [ngStyle]="{'visibility': !loading && total > 0 ? 'visible' : 'hidden'}">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted">
          Scientific names
          <button class="input-group-text" appOcticon="code"
                  (click)="openModal(content)"
                  [disabled]="false">Json result
          </button>
        </h6>
        <ul class="nav flex-column">
          <li *ngFor="let result of results | async | paginate: { id: 'server',
                                                                  itemsPerPage: itemsPerPage,
                                                                  currentPage: pageNumber,
                                                                  totalItems: total };
                      let idx = index">
            <a class="nav-link border-bottom"
               (click)="selectItem(idx)"
               [ngStyle]="{'background-color': idx === this.selectedNameIdx ? '#007934' : 'inherit',
                           'color': idx === this.selectedNameIdx ? 'white' : 'inherit' }">
              {{result.name.value}}
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-8 ml-sm-auto col-lg-8 pt-3 px-4">
      <div *ngIf="loading">
        Loading...
      </div>

      <div *ngIf="!loading && resultIsNotEmpty()">
        <h4>{{selectedResult().name.value}}</h4>

        <h5>Similar Names</h5>
        <ul class="list-group list-group-flush pb-3">
          <li class="list-group-item border-0 pb-0 pt-0"
              *ngFor="let similarName of namesWithSameCanonicalName">
            {{similarName}}
          </li>
        </ul>

        <h5>Data Sources</h5>
        <div *ngIf="selectedResult().resultsPerDataSource.length > 0">
          <div class="card mb-2"
               *ngFor="let resultPerDataSource of selectedResult().resultsPerDataSource">
            <h6 class="card-header">
              <a [href]="'datasource/' + resultPerDataSource.dataSource.id">
                {{resultPerDataSource.dataSource.title}}
              </a>
            </h6>

            <div *ngFor="let result of resultPerDataSource.results">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="card-subtitle text-muted"
                       *ngIf="apiClientService.formatClassificationPath(result.classification)">
                    {{apiClientService.formatClassificationPath(result.classification)}}
                  </div>
                  <div *ngIf="result.acceptedName.name.value != selectedResult().name.value">
                    {{result.acceptedName.name.value}}
                  </div>
                  <a [href]="result.url || ''" appOcticon="file" width="1em"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <p *ngIf="!loading && !resultIsNotEmpty()">
        Alas, there are no results for "{{searchStatus.searchText}}". Try another one...
      </p>
    </main>
  </div>
</div>

<div class="row">
  <div class="footer-container" *ngIf="resultIsNotEmpty()">
    <div class="footer">
      <div class="col-md-4 d-none d-md-block bg-light sidebar" style="z-index: -1"></div>
      <div class="col-md-8 ml-sm-auto col-lg-8 pt-3 px-4 pb-2">
        Results {{1 + itemsPerPage * (pageNumber - 1)}} &mdash; {{closingResultCount()}}
        of total {{total}} for <i>'{{searchStatus.searchText}}'</i>
        <pagination-controls (pageChange)="update($event)" id="server"
                             previousLabel="" nextLabel=""
                             *ngIf="resultIsNotEmpty() && total > itemsPerPage">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>
