<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          Scientific names
        </h6>
        <ul class="nav flex-column">
          <li *ngFor="let name of searchingNames;
                      let idx = index">
            <a class="nav-link border-bottom"
               (click)="selectItem(idx)"
               [ngStyle]="{'background-color': idx === this.selectedNameIdx ? '#007934' : 'inherit',
                           'color': idx === this.selectedNameIdx ? '#fdba12' : 'inherit' }">
              {{name}}
            </a>
          </li>
        </ul>

        <!--
        <pagination-controls (pageChange)="update($event)" id="server"
                             previousLabel="" nextLabel=""
                             *ngIf="resultIsFetched"></pagination-controls>
                             -->
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div *ngIf="resultIsFetched">
        <h4>
          {{selectedResult().suppliedInput}} <i>[{{selectedResult().results[0].matchType.kind.toLowerCase()}}]</i>
        </h4>
        <div *ngIf="selectedResult().results[0].acceptedName.name.value != selectedResult().results[0].name.value">
          {{selectedResult().results[0].acceptedName.name.value}}
        </div>
        <div *ngIf="apiClientService.formatClassificationPath(selectedResult().results[0].classification)">
          {{apiClientService.formatClassificationPath(selectedResult().results[0].classification)}}
        </div>
        <a [href]="selectedResult().results[0].url || ''">record</a>
      </div>

      <div *ngIf="resultIsFetched && responses.length == 0">
        <hr/>
        <p>
          Alas, there are no results for "{{this.searchText}}". Try another one...
        </p>
      </div>
    </main>
  </div>
</div>

