<section class="features">
  <div class="grid">

    <div class="input-group">
      <textarea [(ngModel)]="searchText" type="text" class="form-control"
                placeholder="Search..." aria-label="Search..."
                rows="5"
                (keyup.enter)="search()">
      </textarea>
    </div>
  </div>
</section>

<section class="news">
  <div class="grid">
    <div class="unit four-fifths">

      <div *ngFor="let response of responses">
        <h1>{{response.suppliedInput}}</h1>

        <article *ngFor="let result of response.results">
          <h3>{{result.name.value}}</h3>
          <span class="post-category">
            <span class="label" *ngIf="result.acceptedName.name.value">
              Accepted name: {{result.acceptedName.name.value}}
            </span>
          </span>

          <p>Match type: {{result.matchType.kind}}, score: {{result.matchType.score}}</p>
          <p>Canonical name: {{result.canonicalName.value}}</p>
          <p *ngIf="result.classification.path">
            Classification path: {{apiClientService.formatClassificationPath(result.classification)}}
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
