<main class="container-fluid pt-3" role="main">
  <div class="row d-flex justify-content-center">
    <a *ngFor="let letter of letters" class="selected-link pl-2 pr-2"
       style="font-family: monospace; font-size: 1.2em"
       [ngStyle]="{ 'font-weight': letter === this.selectedLetter ? 'bold' : 'normal' }"
       (click)="selectLetter(letter)">
      {{letter}}
    </a>
  </div>

  <hr *ngIf="currentTripletsRows.length > 0" class="mt-2 mb-2"/>

  <div class="row d-flex justify-content-center" *ngFor="let currentTripletRow of currentTripletsRows">
    <div style="font-family: monospace; padding: 0.2em;" *ngFor="let currentTriplet of currentTripletRow">
      <a *ngIf="currentTriplet.active" href="{{nameStringRequest(currentTriplet.value)}}">
        {{currentTriplet.value}}
      </a>
      <span *ngIf="!currentTriplet.active" style="opacity: 0.5">
        {{currentTriplet.value}}
      </span>
    </div>
  </div>
</main>
