<div class="container-fluid">
  <div class="row">
    <nav class="col-md-4 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted">
          Scientific names
        </h6>
        <ul class="nav flex-column">
          <li *ngFor="let name of searchingNames;
                      let idx = index">
            <a class="nav-link border-bottom"
               (click)="selectItem(idx)"
               [ngStyle]="{'background-color': idx === this.selectedNameIdx ? '#007934' : 'inherit',
                           'color': idx === this.selectedNameIdx ? 'white' : 'inherit' }">
              {{name}}
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-8 ml-sm-auto col-lg-8 pt-3 px-4">
      <div *ngIf="resultIsFetched">
        <h4 *ngIf="selectedResult().results.length == 0">
          Alas, there are no results for the name input
        </h4>

        <div *ngFor="let result of selectedResult().results" class="card mb-2">
          <div class="card-header">
            <h5>{{result.name.value}}</h5>
          </div>
          <div class="card-body">
            <div *ngFor="let resultDS of matchesByDatasource(result)">
              <h5>
                <a [href]="'datasource/' + resultDS.dataSource.id">
                  {{resultDS.dataSource.title}}
                </a>
              </h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"
                    *ngFor="let res of resultDS.results">
                  <div *ngIf="res.acceptedName.name.value != result.name.value">
                    Accepted name: {{res.acceptedName.name.value}}
                  </div>
                  <div [ngStyle]="{ 'color': 'white', 'backgroundColor': this.matchKindColor(res.matchType.kind) }"
                       class="d-inline-flex pl-1 pr-1">
                    Match type: {{res.matchType.kind}}
                  </div>
                  <div *ngIf="apiClientService.formatClassificationPath(res.classification)">
                    Classification path: {{apiClientService.formatClassificationPath(res.classification)}}
                  </div>
                  <div>
                    <a [href]="result.url || ''" appOcticon="file" width="1em"></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="resultIsFetched && responses.length == 0">
        <hr/>
        <p>
          Alas, there are no results for "{{searchText}}". Try another one...
        </p>
      </div>
    </main>
  </div>
</div>
