<section class="features">
  <div class="grid">
    <input [(ngModel)]="searchText" type="text" class="form-control"
           placeholder="Search..." aria-label="Search..."
           (input)="resultIsFetched = false"
           (keyup.enter)="search()">
  </div>
</section>

<section class="news">
  <div class="grid">
    <div class="unit four-fifths">
      <article *ngIf="resultIsFetched && response['results'].length == 0">
        <p>Alas, there are no results for "{{searchText}}". Try another one...</p>
      </article>

      <article *ngFor="let result of results | async | paginate: { id: 'server',
                                                                   itemsPerPage: itemsPerPage,
                                                                   currentPage: pageNumber,
                                                                   totalItems: total }">
        <h3 class="blog-post-title">{{result.name.value}}</h3>
        <p>Canonical name: {{result.canonicalName.value}}</p>
        <p *ngIf="result.classification.path">
          Classification path: {{apiClientService.formatClassificationPath(result.classification)}}
        </p>

        <h4>Data Sources</h4>
        <ul>
          <li *ngFor="let dataSource of result.dataSources">{{dataSource.title}}</li>
        </ul>
      </article>

      <nav *ngIf="resultIsFetched && response['results'].length > 0" class="blog-pagination">
        <pagination-controls (pageChange)="update($event)" id="server"></pagination-controls>
      </nav>
    </div>
  </div>
</section>

