<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          Scientific names
        </h6>
        <ul class="nav flex-column">
          <li *ngFor="let result of results | async | paginate: { id: 'server',
                                                                  itemsPerPage: itemsPerPage,
                                                                  currentPage: pageNumber,
                                                                  totalItems: total };
                      let idx = index">
            <a class="nav-link border-bottom"
               (click)="selectItem(idx)"
               [ngStyle]="{'text-decoration': idx === this.selectedNameIdx ? 'underline' : 'none'}">
              {{result.name.value}}
            </a>
          </li>
        </ul>

        <pagination-controls (pageChange)="update($event)" id="server"
                             previousLabel="" nextLabel=""
                             *ngIf="resultIsFetched"></pagination-controls>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div>
        <input [(ngModel)]="searchText" type="text" class="form-control mb-3"
               placeholder="Search..." aria-label="Search..."
               (input)="resultIsFetched = false"
               (keyup.enter)="search()">
      </div>

      <div *ngIf="resultIsFetched">
        <h4>{{selectedResult().name.value}}</h4>
        <p *ngIf="selectedResult().classification.path">
          Classification path: {{apiClientService.formatClassificationPath(selectedResult().classification)}}
        </p>

        <h6>Data Sources</h6>
        <ul>
          <li *ngFor="let dataSource of selectedResult().dataSources">{{dataSource.title}}</li>
        </ul>
      </div>

      <div *ngIf="resultIsFetched && response['results'].length == 0">
        <hr/>
        <p>
          Alas, there are no results for "{{searchText}}". Try another one...
        </p>
      </div>
    </main>
  </div>
</div>
