<section class="docs">
  <div class="grid">
    <div class="unit four-fifths">
      <a *ngFor="let letter of letters" class="selected-link"
         style="padding-left: 1.0em; font-family: monospace;"
         (mouseenter)="selectLetter(letter)">
        {{letter}}
      </a>

      <div class="row" *ngFor="let currentTripletRow of currentTripletsRows">
        <div style="font-family: monospace; padding: 0.2em;"
             *ngFor="let currentTriplet of currentTripletRow">
          <a *ngIf="currentTriplet.active" href="{{nameStringRequest(currentTriplet.value)}}">
            {{currentTriplet.value}}
          </a>
          <span *ngIf="!currentTriplet.active" style="opacity: 0.5">
              {{currentTriplet.value}}
            </span>
        </div>
      </div>
    </div>
  </div>
</section>
