<section class="intro">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <h1>Global Names Architecture</h1>
      <h4>The Index</h4>
    </div>
  </div>
</section>

<section class="about-gn">
  <div class="grid">
    <div class="unit whole">
      <div class="grid pane">
        <div class="unit whole center-on-mobiles">
          <div class="pane-content">
            <p>The Global Names Architecture (GNA) is a system of web-services which helps people to register, find,
              index, check and organize biological scientific names and interconnect on-line information about
              species.</p>

            <a href="./search?q=can:Homo">Search "can:Homo"</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
